._12to336{
    text-align: center;
    margin-bottom: 50px;
    
}


._c6z6zf {
    color: rgb(31, 31, 31);
    display: block;
    margin: 0px auto;
    max-width: 270px;
    box-shadow: 3px -3px 11px 13px rgb(235 3 3 / 20%);
    padding: 10px 10px;
    height: 100%;
}
._1v521c5 {
    display: inline-block;
    height: 210px;
    max-width: 270px;
}
._z1d0pu {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    color: #f00;
}
@media (max-width: 991px)
{._cz6mzg {
    font-size: 16px;
    line-height: 24px;
}}

._cz6mzg {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(31, 31, 31);
}
@media (max-width: 991px)
{_9gw1bj {
    font-size: 16px;
    line-height: 24px;
}}

._9gw1bj {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(31, 31, 31);
}
._1xralgf {
    background-color: rgb(42, 115, 204);
    display: inline-block;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 69px;
}
@media (max-width: 991px)
{._1mbr0ee {
    font-size: 16px;
    line-height: 24px;
}}
._1mbr0ee {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: rgb(31, 31, 31);
    height: fit-content;
}
.lazyload-wrapper{
    vertical-align: middle;
    border-radius: 50%;
    
}
._kjyntg {
    position: relative;
    width: 202px;
    padding-bottom: 100%;
    height: 0px;
}
.img1{
    border-radius: 50%;
}